/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

#hero {
    background-size: cover; 
    background-image: url("images/Chapel-Hill.jpg");
    height: 200px;
    padding: 40px;
    background-position: center; 
    margin-bottom:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

#testing-header {
    margin-top: 0px;
}

.title, .subtitle {
    display:block;
    background-color: white;
    color: #13294B;
    text-shadow: 0px 0px 4px #7BAFD4;
    padding: 10px 16px;
    border-radius: 10px;
}



.activity-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin: 10px;
    
}

#activities-wrapper {
    background-color: #7BAFD4;
    padding: 20px;    
}
.activities-section {
    display: flex;
    align-items: space-around;
    margin: auto;
}

.icon {
    width: 100px;
    height:100px;
    object-position: 50% 50%;
    border: 4px solid #13294B;
    border-radius: 50%;
}

#history-icon {
    background-image: url("images/old-well-painting.jpg");
    background-position: center;
    background-size: 100px 
}


#history-icon:hover {
    background-image: url("images/old-well2.jpg");
    background-position: center;
    background-size: 100px 
    
}

#museum-icon {
    background-image: url("images/ackland.jpg");
    background-position: center;
    background-size: 100px 
}

#museum-icon:hover {
    background-image: url("images/ackland2.jpg");
    background-position: center;
    background-size: 100px 
}

#sports-icon {
    background-image: url("images/basketball.webp");
    background-position: center;
    background-size: 100px 
}


#sports-icon:hover {
    background-image: url("images/basketball-hype.jpeg");
    background-position: center;
    background-size: 100px 
}

#myPhoto {
    width: 200px;
}

#card {
    margin: 20px auto;
    width: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #13294B;
    color: white;
    text-shadow: 0px 0px 4px black;
    border-bottom: 4px solid #7BAFD4;
    border-left: 4px solid #7BAFD4;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}